rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // 檢查使用者的 email 是否在專屬白名單內 
    // TODO: 請在這裡填寫有權限存取行程表的 Google 帳號 Email
    function isAllowedUser() {
      return request.auth != null && (
        request.auth.token.email == "user1@example.com" || 
        request.auth.token.email == "user2@example.com"  
      );
    }

    match /{document=**} {
      allow read, write: if isAllowedUser();
    }
  }
}
